<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>DianXinHUD.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>683041991C8D5E77002BC1AE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>683041AD1C8D5E78002BC1AE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>683041B81C8D5E78002BC1AE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
